p{
    color:blueviolet;
}


#titulo2{
    color: green;
}

#p2{
    color:darkslategrey;
}

.texto1{
    color:greenyellow;
}

#div1{
    color: red;
}

#div2{
    color: green;
}

#div3{
    color: blue;
}